---
import Counter from "../components/image_showcase.svelte";
import { base } from "astro:config/client"
let image_urls = Array.from({length: 5}).map((_,i)=>`${base}/photo_${i+1}.jpg`)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="grid place-items-center h-screen" >
    <Counter client:load image_urls={image_urls} />
	</body>
</html>
