---
import ImageShowcase from "../components/image_showcase.svelte";
import "daisyui/theme/dark.css";
---

<html lang="en" data-theme="dark" >
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="grid place-items-center h-screen p-13" >
    <ImageShowcase client:load  />
	</body>
</html>
